.tournamentComponent {
    background-color: white;
    margin: 5px;

    .tournamentWinner {
        padding: 25px 0px 25px 0px;
        border-top: 25px;
        border-color: transparent;
        background-color: #b7f7a8;
        
    }
}